@model AutoComplete.Models.OnewayDomesticSearchQuery.RootObject
@{
    //Layout = null;

}
<!--<meta name="viewport" content="width=device-width" />
<title>Homepage</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/CSS/style.css" rel="stylesheet" />-->
@*<link href="~/CSS/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    @using (Html.BeginForm("SearchResults", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "myForm", onsubmit = "return validateForm()" }))
                    {
                        <form>

                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight_type" checked>
                                        <span></span>One way
                                    </label>
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="flight_type">
                                        <span></span>Roundtrip
                                    </label>
                                    <label for="multi-city">
                                        <input type="radio" id="multi-city" name="flight_type">
                                        <span></span>Multi-City
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <input id="fromAirport" class="form-control" type="text" role="combobox" placeholder="City or airport" required>
                                        @Html.HiddenFor(model => model.searchQuery.routeInfos[0].fromCityOrAirport.code, new { @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flyning to</span>
                                        <input id="toAirport" class="form-control" type="text" placeholder="City or airport" required>
                                        @Html.HiddenFor(model => model.searchQuery.routeInfos[0].toCityOrAirport.code, new { @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        @*<input class="form-control" id="" type="date" required>*@
                                        @Html.TextBoxFor(model => model.searchQuery.routeInfos[0].travelDate, new { @type = "date", @class = "form-control", @placeholder = "Depature Date", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input class="form-control" type="date" id="searchQuery_routeInfos_0__returnDate" placeholder="Return Date">
                                        @*@Html.TextBoxFor(model => model.searchQuery.routeInfos[0].returnDate, new { @type = "date", @class = "form-control", @placeholder = "Depature Date"})*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        @Html.DropDownListFor(model => model.searchQuery.paxInfo.ADULT, Enumerable.Range(1, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Children (2-12)</span>
                                        @Html.DropDownListFor(model => model.searchQuery.paxInfo.CHILD, Enumerable.Range(0, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Infant (0-2)</span>
                                        @Html.DropDownListFor(model => model.searchQuery.paxInfo.INFANT, Enumerable.Range(0, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.searchQuery.searchModifiers.isDirectFlight)
                            @Html.HiddenFor(m => m.searchQuery.searchModifiers.isConnectingFlight)
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Travel class</span>
                                        @Html.DropDownListFor(model => model.searchQuery.cabinClass, ViewBag.TravelClass as SelectList, new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-btn">
                                        <input type="submit" class="submit-btn" value="Show flights" />
                                        @*<div id="toast" class="toast-body" style="display:none">
                                                Some text inside the toast body
                                            </div>*@
                                        <label id="toast" style="display:none;color:red;">Please enter a valid Source</label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!--
    !============= Banner Area Start ===========!
 -->

<section class="rt-banner-area">
    <div class="single-rt-banner rt-banner-height" style="background-image: url(assets/images/all-img/banner01.png)">
        <div class="container">
            <div class="row  rt-banner-height align-items-center">
                <div class="col-lg-9">
                    <div class="rt-banner-content">
                        <h1 class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                            Explore <br>
                            The World!
                        </h1>
                        <p class="wow fade-in-top">
                            You can create a Custom Trip.Search Our Lowest Fares to <br>
                            Your Favorite Destinations.Find a better way to travel
                        </p>

                        <div class="rt-banner-searchbox standard-search wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane show active" id="rt-item_a_first" role="tabpanel" aria-labelledby="rt-item_a_first">
                                    @using (Html.BeginForm("SearchResults", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "myForm", onsubmit = "return validateForm()" }))
                                    {
                                            <div class="rt-radio-group">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline1">One-way</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline2">Round-trip</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline3" name="customRadioInline3" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline3">Multi-city</label>
                                                </div>
                                                <div class="dropdown form-check-inline rt-searchlink mr-md-5">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        1 Adult
                                                    </a>
                                                    
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="#">Room one</a>
                                                        <a class="dropdown-item" href="#">Room two</a>
                                                        <a class="dropdown-item" href="#">Room three</a>
                                                    </div>
                                                </div><!-- ./dropdown -->
                                                <div class="dropdown form-check-inline rt-searchlink">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        Economy
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                                        <a class="dropdown-item" href="#">Room one</a>
                                                        <a class="dropdown-item" href="#">Room two</a>
                                                        <a class="dropdown-item" href="#">Room three</a>
                                                    </div>
                                                </div><!-- ./dropdown -->
                                            </div><!-- /.radio-group -->
                                            <div class="rt-input-group">
                                                <div class="single-input  col-rt-in-3">
                                                    <select class="rt-selectactive banner-select" name="from" style="width: 100%">
                                                        <option value="1">from</option>
                                                        <option value="2">Alaska</option>
                                                        <option value="3">Bahamas</option>
                                                        <option value="4">Bermuda</option>
                                                        <option value="5">Canada</option>
                                                        <option value="6">Caribbean</option>
                                                        <option value="7">Europe</option>
                                                        <option value="8">Hawaii</option>
                                                    </select>
                                                    <span class="input-iconbadge"><img src="~/Img/icons-image/s_icon_1.png" alt="" draggable="false"></span>
                                                </div><!-- /.single-input -->
                                                <div class="single-input  col-rt-in-3">
                                                    <select class="rt-selectactive banner-select" name="to" style="width: 100%">
                                                        <option value="1">To</option>
                                                        <option value="2">Alaska</option>
                                                        <option value="3">Bahamas</option>
                                                        <option value="4">Bermuda</option>
                                                        <option value="5">Canada</option>
                                                        <option value="6">Caribbean</option>
                                                        <option value="7">Europe</option>
                                                        <option value="8">Hawaii</option>
                                                    </select>
                                                    <span class="input-iconbadge"><img src="~/Img/icons-image/s_icon_2.png" alt="" draggable="false"></span>
                                                </div><!-- /.single-input -->
                                                <div class="single-input  col-rt-in-3">
                                                    <input type="text" class="form-control rt-date-picker has-icon" placeholder="Depart">
                                                    <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                                </div><!-- /.single-input -->
                                                <div class="single-input  col-rt-in-3">
                                                    <input type="text" class="form-control rt-date-picker has-icon" placeholder="Return">
                                                    <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                                </div><!-- /.single-input -->
                                                <div class="single-input  col-rt-in-1">
                                                    <button type="submit"><i class="icofont-search"></i></button>
                                                </div><!-- /.single-input -->
                                            </div><!-- /.rt-input-group -->
                                        <!-- ./ form -->
                                    }
                                    </div>
                                <div class="tab-pane  rtIncative" id="rt-item_a_second" role="tabpanel" aria-labelledby="rt-item_a_second">
                                    <form action="#">
                                        <div class="rt-radio-group">
                                            <div class="dropdown form-check-inline rt-searchlink">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink24" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    Guestes per room
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink24">
                                                    <a class="dropdown-item" href="#">Room one</a>
                                                    <a class="dropdown-item" href="#">Room two</a>
                                                    <a class="dropdown-item" href="#">Room three</a>
                                                </div>
                                            </div><!-- ./dropdown -->
                                        </div><!-- /.radio-group -->
                                        <div class="rt-input-group">
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" placeholder="destination">

                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control rt-date-picker has-icon" placeholder="Depart">
                                                <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control rt-date-picker has-icon" placeholder="Return">
                                                <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" placeholder="keywords(optional)">
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-1">
                                                <button type="submit"><i class="icofont-search"></i></button>
                                            </div><!-- /.single-input -->
                                        </div><!-- /.rt-input-group -->
                                    </form><!-- ./ form -->
                                </div>
                                <div class="tab-pane  rtIncative" id="rt-item_a_third" role="tabpanel" aria-labelledby="rt-item_a_third">
                                    <form action="#">

                                        <div class="rt-input-group">
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" placeholder="destination">
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control rt-date-picker has-icon" placeholder="Depart">
                                                <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control rt-date-picker has-icon" placeholder="Return">
                                                <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" placeholder="keywords(optional)">
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-1">
                                                <button type="submit"><i class="icofont-search"></i></button>
                                            </div><!-- /.single-input -->
                                        </div><!-- /.rt-input-group -->
                                    </form><!-- ./ form -->
                                </div>
                                <div class="tab-pane  rtIncative" id="rt-item_a_four" role="tabpanel" aria-labelledby="rt-item_a_four">
                                    <form action="#">
                                        <div class="rt-input-group">
                                            
                                            <div class="single-input  col-rt-in-3">

                                                <select class="rt-selectactive banner-select" name="from" style="width: 100%">
                                                    <option value="1">from</option>
                                                    <option value="2">Alaska</option>
                                                    <option value="3">Bahamas</option>
                                                    <option value="4">Bermuda</option>
                                                    <option value="5">Canada</option>
                                                    <option value="6">Caribbean</option>
                                                    <option value="7">Europe</option>
                                                    <option value="8">Hawaii</option>
                                                </select>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <select class="rt-selectactive banner-select" name="to" style="width: 100%">
                                                    <option value="1">To</option>
                                                    <option value="2">Alaska</option>
                                                    <option value="3">Bahamas</option>
                                                    <option value="4">Bermuda</option>
                                                    <option value="5">Canada</option>
                                                    <option value="6">Caribbean</option>
                                                    <option value="7">Europe</option>
                                                    <option value="8">Hawaii</option>
                                                </select>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control rt-date-picker has-icon" placeholder="Depart">
                                                <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" placeholder="train no( opt)">
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-1">
                                                <button type="submit"><i class="icofont-search"></i></button>
                                            </div><!-- /.single-input -->
                                        </div><!-- /.rt-input-group -->
                                    </form><!-- ./ form -->
                                </div>
                            </div>
                        </div><!-- /.rt-banner-searchbox -->


                        <ul class="nav serachnavs wow fade-in-bottom" id="rtMultiTab" role="tablist" data-wow-duration="1.5s" data-wow-delay="1.5s">
                            <li class="nav-item">
                                <a class="nav-link active" id="first-tab" data-target="#rt-item_b_first" data-secondary="#rt-item_a_first"
                                   data-toggle="tab" href="#first" role="tab" aria-controls="first-tab" aria-selected="false">
                                    <i class="icofont-airplane"></i>
                                    <span>Flights</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link inactive" id="second-tab" data-target="#rt-item_b_second" data-secondary="#rt-item_a_second"
                                   data-toggle="tab" href="#second" role="tab" aria-controls="second-tab" aria-selected="true">

                                    <i class="icofont-hotel"></i>
                                    <span>Hotels</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link inactive" id="third-tab" data-target="#rt-item_b_thrid" data-secondary="#rt-item_a_third"
                                   data-toggle="tab" href="#third" role="tab" aria-controls="third-tab" aria-selected="false">
                                    <i class="icofont-car-alt-4"></i>
                                    <span>Cars</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link inactive" id="four-tab" data-target="#rt-item_b_four" data-secondary="#rt-item_a_four"
                                   data-toggle="tab" href="#four" role="tab" aria-controls="four-tab" aria-selected="false">
                                    <i class="icofont-train-line"></i>
                                    <span>Trains</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- end banner content -->
                </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single rt banner -->
</section>




    <script>

        function GetAirports(contolid, hiddencontrolid) {
            $("#" + contolid + "").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetRecord",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.AIRPORTMunicipality + ', ' + item.AIRPORTIATACode, val: item.AIRPORTIATACode };
                            }))
                        }
                    })
                },
                /*minLength: 3,*/
                select: function (e, i) {
                    $("#" + contolid + "").val(i.item.label);
                    $("#" + hiddencontrolid + "").val(i.item.val);
                },
            });

        }
        $(function () {
            $("input[name='flight_type']").click(function () {
                if ($("#roundtrip").is(":checked")) {
                    $("#searchQuery_routeInfos_0__returnDate").attr("required", "required");
                    $("#roundtrip").attr("checked", "checked");
                }
                else {
                    $("#searchQuery_routeInfos_0__returnDate").removeAttr("required");
                    $("#roundtrip").removeAttr("checked", "checked");
                }

            });
            $("#searchQuery_routeInfos_0__returnDate").click(function () {
                $("#one-way").removeAttr("checked");
                $("#multi-city").removeAttr("checked");
                $("#roundtrip").attr("checked", "checked");
            });
        });
        function validateForm() {
            let x = document.forms["myForm"]["searchQuery_routeInfos_0__fromCityOrAirport_code"].value;
            let y = document.forms["myForm"]["searchQuery_routeInfos_0__toCityOrAirport_code"].value;
            if (x == "") {
                $('#toast').show();
                //alert("Please enter a valid Source");
                return false;
            }
            else if (y == "") {
                $('#toast').show();
                //alert("Please enter a valid Destination");
                return false;
            }
        };
        $(document).ready(function () {

            GetAirports('fromAirport', 'searchQuery_routeInfos_0__fromCityOrAirport_code');
            GetAirports('toAirport', 'searchQuery_routeInfos_0__toCityOrAirport_code');
        });

    </script>



