@model AutoComplete.Models.OnewayDomesticSearchQuery.RootObject
@{
    //Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/CSS/style.css" rel="stylesheet" />

    @*<link href="~/CSS/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
    <script>

        function GetAirports(contolid, hiddencontrolid) {
            $("#" + contolid + "").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetRecord",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.AIRPORTMunicipality + ', ' + item.AIRPORTIATACode, val: item.AIRPORTIATACode };
                            }))
                        }
                    })
                },
                /*minLength: 3,*/
                select: function (e, i) {
                    $("#" + contolid + "").val(i.item.label);
                    $("#" + hiddencontrolid + "").val(i.item.val);
                },
            });

        }
        $(function () {
            $("input[name='flight_type']").click(function () {
                if ($("#roundtrip").is(":checked")) {
                    $("#searchQuery_routeInfos_0__returnDate").attr("required", "required");
                    $("#roundtrip").attr("checked", "checked");
                }
                else {
                    $("#searchQuery_routeInfos_0__returnDate").removeAttr("required");
                    $("#roundtrip").removeAttr("checked", "checked");
                }

            });
            $("#searchQuery_routeInfos_0__returnDate").click(function () {
                $("#one-way").removeAttr("checked");
                $("#multi-city").removeAttr("checked");
                $("#roundtrip").attr("checked", "checked");
            });
        });
        function validateForm() {
            let x = document.forms["myForm"]["searchQuery_routeInfos_0__fromCityOrAirport_code"].value;
            let y = document.forms["myForm"]["searchQuery_routeInfos_0__toCityOrAirport_code"].value;
            if (x == "") {
                $('#toast').show();
                //alert("Please enter a valid Source");
                return false;
            }
            else if (y == "") {
                $('#toast').show();
                //alert("Please enter a valid Destination");
                return false;
            }
        };
        $(document).ready(function () {

            GetAirports('fromAirport', 'searchQuery_routeInfos_0__fromCityOrAirport_code');
            GetAirports('toAirport', 'searchQuery_routeInfos_0__toCityOrAirport_code');
        });

    </script>

</head>
<body>

    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        @using (Html.BeginForm("SearchResults", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", name="myForm",onsubmit="return validateForm()" }))
                        {
                        <form>
                            
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight_type" checked>
                                        <span></span>One way
                                    </label>
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="flight_type">
                                        <span></span>Roundtrip
                                    </label>
                                    <label for="multi-city">
                                        <input type="radio" id="multi-city" name="flight_type">
                                        <span></span>Multi-City
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <input id="fromAirport" class="form-control" type="text" role="combobox" placeholder="City or airport" required>
                                        @Html.HiddenFor(model => model.searchQuery.routeInfos[0].fromCityOrAirport.code, new { @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flyning to</span>
                                        <input id="toAirport" class="form-control" type="text" placeholder="City or airport" required>
                                        @Html.HiddenFor(model => model.searchQuery.routeInfos[0].toCityOrAirport.code, new { @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        @*<input class="form-control" id="" type="date" required>*@
                                        @Html.TextBoxFor(model => model.searchQuery.routeInfos[0].travelDate, new { @type = "date", @class = "form-control", @placeholder = "Depature Date", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input class="form-control" type="date" id="searchQuery_routeInfos_0__returnDate" placeholder="Return Date">
                                        @*@Html.TextBoxFor(model => model.searchQuery.routeInfos[0].returnDate, new { @type = "date", @class = "form-control", @placeholder = "Depature Date"})*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        @Html.DropDownListFor(model => model.searchQuery.paxInfo.ADULT, Enumerable.Range(1, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Children (2-12)</span>
                                        @Html.DropDownListFor(model => model.searchQuery.paxInfo.CHILD, Enumerable.Range(0, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Infant (0-2)</span>
                                        @Html.DropDownListFor(model => model.searchQuery.paxInfo.INFANT, Enumerable.Range(0, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            
                            @Html.HiddenFor(m => m.searchQuery.searchModifiers.isDirectFlight)
                            @Html.HiddenFor(m => m.searchQuery.searchModifiers.isConnectingFlight)
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Travel class</span>
                                        @Html.DropDownListFor(model => model.searchQuery.cabinClass, ViewBag.TravelClass as SelectList, new { @class = "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-btn">
                                        <input type="submit" class="submit-btn" value="Show flights" />
                                        @*<div id="toast" class="toast-body" style="display:none">
                        Some text inside the toast body
                    </div>*@
                                        <label id="toast" style="display:none;color:red;">Please enter a valid Source</label>
                                    </div>
                                </div>

                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
